<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Magazine</title>
</head>
<body>
    <nav class="navbar bg-dark">
        <div class="container-fluid d-flex justify-content-around">
            <h3 class="navbar-nav mb-2 text-primary">Welcome, {{user.first_name}}</h3>
            <div class="d-flex justify-content-end">
                <a href="/magazine/new">Add Magazine</a>
            </div>
            <div class="d-flex justify-content-e">
                <a href="/user/account">Account</a>
            </div>
            <div class="d-flex justify-content-e">
                <a href="/logout"><button class="btn btn-primary">Logout</button></a>
            </div>
        </div>
    </nav>
        <div class="table bg-dark text-light">
            <h4 class="text-center">Magazines:</h4><hr>
            <div>
                {% for magazine in magazines %}
                    <p><a href="/magazine/{{magazine.id}}">{{magazine.title}}</a>
                        added by {{magazine.user.first_name}}
                        {% if session.user_id in magazine.user_id_who_subscribed %}
                            <form action="/magazine/{{magazine.id}}/unsubscribed" method="POST">
                                <input name="id" type="hidden" value="{{magazine.id}}">
                                <input name="user_id" type="hidden" value="{{session.user_id}}">
                                <button type="submit" class="btn btn-primary">Unsubscribed</button>
                            </form><br>
                        {% else %}
                            <form action="/magazine/{{magazine.id}}/subscribed" method="POST">
                                <input name="id" type="hidden" value="{{magazine.id}}">
                                <input name="user_id" type="hidden" value="{{session.user_id}}">
                                <button type="submit" class="btn btn-primary">Subscribed</button>
                            </form><br>
                        {% endif %}
                    </p>
                {% endfor %}
                    
            </div>
        </div>
    </div>
    
</body>
</html>